.container > header > nav > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.container > header > nav > a:hover {
    background-color: brown;
    color: white;
}
.container > header > nav {
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
.container {
    max-width: 50%;
    margin: auto;
    background-color: white;
}
.dene {
    background-image: url(background.png);
}
.logo_part {
    display: flex;
    justify-content: flex-start;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search {
    margin: auto;
}
.card {
    text-align: center;
    border: 1px solid red;
    border-radius: 2px;
    margin: 20px;
}
.title {
    text-decoration: none;
    color: whitesmoke;
    background-color: blue;
    padding: 0px 25.73px 1px 25.73px;
}
.price {
    font-weight: bold;
}
footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 50px;
    color: white;
}
.card > a {
    display: block;
}